.why {
    width: 100%;
    /* background-color: aqua; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.whychooseus {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: blue; */
    align-items: center;

}
.box1 {
    text-align: center;
    width: 700px;
    /* background-color: orange; */
    margin-top: 30px;
}
.box1 h1 {
    font-size: 40px;
}
.box p {
    font-size: 25px;
}
.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
    width: 97%;
}
.box3 {
    display: flex;
    width: 90%;
    height: 600px;
    justify-content: space-between;
    align-items: center;
    /* background-color: chartreuse; */
}
.image {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3-section2 {
    /* background-color: deeppink; */
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    gap: 9px;
    
    
}
.section2 {
display: flex;
justify-content: center;
gap: 80px;
align-items: center;
flex-direction: row;
/* background-color: blueviolet; */
width: 80%;
}
.section2 h1 {
    font-size: 28px;
}
.section2 p {
    font-size: 20px;
}
.icon-3 {
    display: flex;
    border-radius: 20px ;
   border: 1px solid white;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 60px;
      font-size: 25px;
      margin-bottom: 30px;
      color: white;
}
.small-screen {
    display: none;
}
@media screen and (max-width: 990px) {
    .whychooseus {
        display: none;
    }
    .small-screen {
        display: block;
    }
}