.whychooseus {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.box1 {
  text-align: center;
  width: 700px;
  height: 20%;
}

.box3 {
  display: flex;
  width: 100%;
  height: 450px;
  justify-content: space-between;
  align-items: center;
}

.box3-section2 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;
  height: 150px;
}

.icon-3-tag {
  display: flex;
  border-radius: 20px;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 60px;
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
}

.img-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-screen {
  display: none;
}

@media screen and (max-width: 990px) {
  .box3-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .image {
    display: none;
  }

  .box3 {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
  }
  .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 180px;
  }
  .box1 {
    text-align: center;
    width: 100%;
    height: 15%;
  }

  .box3-section2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .icon-3-tag {
    display: flex;
    border-radius: 15px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
  }

  .img-logo {
    display: none;
  }
}
